html {
    font-size: 16px; /* Permet de définir l'unité de base pour l'unité rem */
    /* Si je ne précise pas de font-size, rem ira chercher la font-size de base définie dans les paramètres du navigateur */
  }
  
  body {
    background-color: #D3D3D3;
    font-family: Montserrat, sans-serif;
    line-height: 1.4;
  }
  
  .container {
    background-color: white;
    border: 1px solid black;
  
    /* Pour centrer le container */
    /* width: 800px; */
    /* max-width permet de définir la largeur maximum => l'élément peut-être plus petit mais pas plus grand que 800px */
    /* max-width: 800px; */
    max-width: 50rem; /* on peut utiliser des unités relatives pour les width, font-size, margin, padding, border.... 
    L'unité rem prend comme unité de base la valeur de la propriété font-size
    hérité ou mise dans pour balise HTML (racine du document)
    */
  
    /* Récap : unité em VS rem */
    /*
    Unité em :
    Par défaut, les navigateurs utilisent du 16px (sauf l'utilisateur a changé ce paramètre)
    => si on ne précise dans notre CSS la taille de police pour notre document, on utilise la valeur par défaut du navigateur 
    => l'unité em se base sur cette taille de police
    1em = 1 x la taille de la police du parent;*/
  
    /*
    Unité rem:
    On ne se base plus sur le parent, mais sur la taille de police définie
    dans l'élément racine du document html, c'est à dire la balise <html>
    Si pour l'élément html, on définit dans notre CSS une font-size de 10px
    l'unité rem vaudra 10px dans tout notre document
    1rem = 1 x la taille de la police de l'élément racine <html>
    */
    
    margin: 1rem auto;
    padding: 1rem;
  }
  
  header {
    text-align: center;
  }