// Couleurs
$color-primary: #ff4d67;

$color-background: grey;

$color-text-primary: black;
$color-text-secondary: white;
$color-text-tertiary: #ff4d67;

$color-button-connexion: blue;
$color-button-demo: rgb(0, 107, 150);