// Liens

a {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #ff4d67;
    &.router-link-exact-active {
    color: rgb(252, 4, 41);
    padding: 1rem;
    }
}

  // Logo 
  .logo-header {
    width: 40%;
    height: 40%;
    margin: 0;
    padding: 0;
  }

  .logo-footer {
    width: 40px;
    height: 40px;
    border-radius: 3rem;
    margin: 5px;
    padding: 0;
  }

// Titres

h2 {
  font-size: 1.7rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1rem;
  color: rgb(114, 113, 113);
}