// Espacements
$gutter: 1rem;
$gutter-large: $gutter * 2;
$gutter-small: $gutter / 2;
$gutter-very-large: $gutter-large * 2;
$gutter-very-small: $gutter-small / 2;

// Police 
$font-size: 1rem;
$font-size-large: 1.5rem;
$font-size-small: 0.9rem;
$font-size-very-large: 2rem;

// Break-point

// Couleurs
$color-primary: #ff4d67;

$color-background: grey;

$color-text-primary: black;
$color-text-secondary: white;
$color-text-tertiary: #ff4d67;