// Espacements
$gutter: 1rem;
$gutter-large: $gutter * 2;
$gutter-small: $gutter / 2;
$gutter-very-large: $gutter-large * 2;
$gutter-very-small: $gutter-small / 2;

// Police 
$font-size: 1rem;
$font-size-large: 1.5rem;
$font-size-small: 0.9rem;
$font-size-very-large: 2rem;

