.menu {
    
    display: flex;
    flex: {
        direction: row;
        wrap: wrap;
    };
    justify-content: flex-end;

    &__link {
        color: $color-text-primary;
        text-decoration: none;
        text-transform: uppercase;
}
}

.header {
    &__elements {
   
    }
}